



.active{
    background: rgb(102,223,102);
    background: linear-gradient(90deg, rgba(102,223,102,1) 14%, rgba(104,245,98,1) 39%, rgba(212,205,207,1) 60%);
    pointer-events: none;
    opacity: 0.6;
    

}
.wrong{
    background: rgb(223,117,102);
    background: linear-gradient(90deg, rgba(223,117,102,1) 14%, rgba(245,106,98,1) 39%, rgba(212,205,207,1) 60%);
    pointer-events: none;
    opacity: 0.6;
}


.gradient-background {
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-color: #2196F3; 

  }
  .gradient-background-wrong {
     background: linear-gradient(90deg, rgba(223,117,102,1) 14%, rgba(245,106,98,1) 39%, rgba(212,205,207,1) 60%);
    background-color: #ECEFF1;
  }

  .background{
    background: rgb(186,186,186);
    background: radial-gradient(circle, rgba(186,186,186,1) 48%, rgba(148,187,233,1) 88%);  

  }


